@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-white-to-transparent {
    @apply bg-gradient-to-b from-white/90 bg-clip-text bg-[center_top_1rem] text-transparent;
  }

  .footer-link {
    @apply text-slate-400 transition duration-150 ease-in-out hover:text-sky-600 hover:underline;
  }

  .btn {
    @apply inline-block rounded-full px-6 py-4 font-semibold;
  }

  .btn-md {
    @apply inline-block rounded-full px-4 py-2 font-semibold;
  }

  .btn-primary {
    @apply bg-sky-600 transition duration-150 ease-in-out hover:bg-sky-700 hover:text-gray-100 active:bg-sky-800;
  }

  .btn-primary-opaque {
    @apply border-4 border-sky-500 bg-sky-600/70 hover:border-sky-600 hover:bg-sky-700/70 hover:text-gray-100 active:bg-sky-800/70;
  }

  .btn-secondary {
    @apply bg-teal-600 transition duration-150 ease-in-out hover:bg-teal-700 hover:text-gray-100 active:bg-teal-800;
  }

  .btn-secondary-opaque {
    @apply border-4 border-teal-500 bg-teal-600/70 hover:border-teal-600 hover:bg-teal-700/70 hover:text-gray-100 active:bg-teal-800/70;
  }

  .inline-btn {
    @apply inline-block cursor-pointer text-slate-700 transition duration-150 ease-in-out hover:text-sky-600 hover:underline;
  }

  .listitem-decoration-style {
    @apply before:relative before:inline-block before:h-3 before:w-3 before:rounded-egg_1 before:left-[calc((1.25em-5px)*-1)] before:bg-sky-300/60;
  }

  .internal-link {
        @apply
            before:absolute
            before:h-3
            before:top-2
            before:inset-0 
            before:opacity-50
            before:bg-[linear-gradient(transparent_calc(100%-0.45em),_rgb(56_189_248)_0),_linear-gradient(transparent_calc(100%-0.45em),_rgb(94_234_212)_0)]
            before:bg-[length:0_100%,100%_100%]
            hover:before:bg-[length:100%_100%,100%_100%]
            before:bg-no-repeat
            before:transition-all
            before:duration-150
            before:ease-in-out
        ;
  }

  .toc-label {
        content: "Chapters";
        border-radius: 20px 20px 0 0;
        height: 35px;
        left: 1.5em;
        padding: 6px 20px 6px 20px;
        position: absolute;
        top: -35px;
        z-index: -1;
    }

}
